<template>
    <div id="app">

        <section class="hero is-light is-medium">

            <div class="hero-head has-text-right">

                <a href="https://gitlab.com/allardyce/reveal">Gitlab</a>

            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title site-title">
                        Allardyce | Reveal
                    </h1>
                </div>
            </div>

        </section>

        <section class="row container">
            
            <div class="columns">

                <div class="column">
                    <div class="block" style="background: #FF9F94" v-reveal>
                        1
                    </div>
                </div>

                <div class="column">
                    <div class="block" style="background: #E1FF9E" v-reveal="{ delay: '0.5s' }">
                        2
                    </div>
                </div>

                <div class="column">
                    <div class="block" style="background: #8AFFF5" v-reveal="{ delay: '1s' }">
                        3
                    </div>
                </div>

            </div>

        </section>

        <section class="row container content">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie auctor tristique. Suspendisse vitae nunc vitae libero rhoncus interdum. Integer nunc arcu, dignissim et leo in, porta tristique nisl. Maecenas imperdiet pellentesque nunc ac auctor. Integer molestie neque id massa mattis, rhoncus interdum nibh accumsan. Nam in tristique tortor, ac dapibus nibh. Nulla hendrerit porttitor efficitur. In efficitur nunc libero, eu interdum tortor vestibulum ut.</p>

            <p>Mauris aliquet nisl vel dapibus molestie. Vestibulum metus metus, consectetur vitae hendrerit eu, placerat ullamcorper eros. Duis arcu augue, feugiat at molestie vitae, vehicula pellentesque justo. Ut ornare venenatis hendrerit. Pellentesque nec ipsum sed nulla rhoncus fringilla eget id dolor. Proin semper, tortor non ornare cursus, quam felis lacinia tellus, sit amet feugiat purus dolor in nulla. Aliquam fermentum placerat mauris, et sollicitudin dui fringilla a. Donec egestas est et massa auctor placerat. Sed ullamcorper vehicula diam, gravida placerat eros interdum quis. Sed feugiat facilisis venenatis. In vulputate nibh sit amet mi blandit, ac pellentesque dolor iaculis. Sed eleifend mauris ac lectus imperdiet viverra.</p>

            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi efficitur, ex at mattis facilisis, tortor justo viverra arcu, non auctor mi velit eu mauris. Curabitur sodales mi et ultrices convallis. Vivamus id consectetur metus. Integer varius blandit nisi, ut sodales dui placerat eget. Fusce tincidunt nibh velit, vitae tempor massa sagittis id. Donec maximus nisi cursus tortor tempus consectetur. Ut pellentesque egestas metus ut lacinia. Phasellus rutrum quam ac gravida hendrerit. Cras rhoncus elit ut purus scelerisque convallis. Pellentesque aliquet urna magna, eu elementum erat ullamcorper in.</p>

            <p>Pellentesque eleifend risus ac enim auctor congue at a ante. Sed placerat ultricies ex, at sodales enim facilisis a. Nam cursus aliquet mi, feugiat consectetur neque tristique sollicitudin. Sed blandit purus sed ex fermentum mattis. Nam posuere non enim ac mattis. Donec rhoncus interdum volutpat. Phasellus tempus ultricies vestibulum. Aliquam eu elit eget est congue placerat ut sed nisl. Cras bibendum porta tellus, sit amet laoreet justo ultrices sit amet. Proin nec nunc non ex rutrum venenatis. Ut leo massa, feugiat at augue molestie, imperdiet ultrices purus. Nunc eleifend massa vitae purus sodales luctus. Fusce interdum enim vitae quam porttitor, vitae euismod neque lacinia. Integer a nulla sodales, posuere metus mattis, euismod ante. Aliquam in felis sodales ipsum condimentum hendrerit pulvinar quis risus.</p>

        </section>

        <section class="row container">
            
            <div class="columns">

                <div class="column">
                    <div class="block" style="background: #FF9F94" v-reveal="{ delay: '0.5s' }">
                        Delay 0.5s
                    </div>
                </div>

                <div class="column">
                    <div class="block" style="background: #E1FF9E" v-reveal>
                        No Delay
                    </div>
                </div>

                <div class="column">
                    <div class="block" style="background: #8AFFF5" v-reveal="{ delay: '0.5s' }">
                        Delay 0.5s
                    </div>
                </div>

            </div>

        </section>

        <section class="row container content">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie auctor tristique. Suspendisse vitae nunc vitae libero rhoncus interdum. Integer nunc arcu, dignissim et leo in, porta tristique nisl. Maecenas imperdiet pellentesque nunc ac auctor. Integer molestie neque id massa mattis, rhoncus interdum nibh accumsan. Nam in tristique tortor, ac dapibus nibh. Nulla hendrerit porttitor efficitur. In efficitur nunc libero, eu interdum tortor vestibulum ut.</p>

            <p>Mauris aliquet nisl vel dapibus molestie. Vestibulum metus metus, consectetur vitae hendrerit eu, placerat ullamcorper eros. Duis arcu augue, feugiat at molestie vitae, vehicula pellentesque justo. Ut ornare venenatis hendrerit. Pellentesque nec ipsum sed nulla rhoncus fringilla eget id dolor. Proin semper, tortor non ornare cursus, quam felis lacinia tellus, sit amet feugiat purus dolor in nulla. Aliquam fermentum placerat mauris, et sollicitudin dui fringilla a. Donec egestas est et massa auctor placerat. Sed ullamcorper vehicula diam, gravida placerat eros interdum quis. Sed feugiat facilisis venenatis. In vulputate nibh sit amet mi blandit, ac pellentesque dolor iaculis. Sed eleifend mauris ac lectus imperdiet viverra.</p>

            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi efficitur, ex at mattis facilisis, tortor justo viverra arcu, non auctor mi velit eu mauris. Curabitur sodales mi et ultrices convallis. Vivamus id consectetur metus. Integer varius blandit nisi, ut sodales dui placerat eget. Fusce tincidunt nibh velit, vitae tempor massa sagittis id. Donec maximus nisi cursus tortor tempus consectetur. Ut pellentesque egestas metus ut lacinia. Phasellus rutrum quam ac gravida hendrerit. Cras rhoncus elit ut purus scelerisque convallis. Pellentesque aliquet urna magna, eu elementum erat ullamcorper in.</p>

            <p>Pellentesque eleifend risus ac enim auctor congue at a ante. Sed placerat ultricies ex, at sodales enim facilisis a. Nam cursus aliquet mi, feugiat consectetur neque tristique sollicitudin. Sed blandit purus sed ex fermentum mattis. Nam posuere non enim ac mattis. Donec rhoncus interdum volutpat. Phasellus tempus ultricies vestibulum. Aliquam eu elit eget est congue placerat ut sed nisl. Cras bibendum porta tellus, sit amet laoreet justo ultrices sit amet. Proin nec nunc non ex rutrum venenatis. Ut leo massa, feugiat at augue molestie, imperdiet ultrices purus. Nunc eleifend massa vitae purus sodales luctus. Fusce interdum enim vitae quam porttitor, vitae euismod neque lacinia. Integer a nulla sodales, posuere metus mattis, euismod ante. Aliquam in felis sodales ipsum condimentum hendrerit pulvinar quis risus.</p>

        </section>

        <section class="row container">
            
            <div class="columns">

                <div class="column">
                    <div class="block" style="background: #FF9F94" v-reveal="{ transition: 'fade-slide-left' }" >
                        Slide Left
                    </div>
                </div>

                <div class="column">
                    <div class="block" style="background: #E1FF9E" v-reveal="{ transition: 'fade-slide-up' }" >
                        Slide Up
                    </div>
                </div>

                <div class="column">
                    <div class="block" style="background: #8AFFF5" v-reveal="{ transition: 'fade-slide-down' }" >
                        Slide Down
                    </div>
                </div>

                <div class="column">
                    <div class="block" style="background: #C985FF" v-reveal="{ transition: 'fade-slide-right' }" >
                        Slide Right
                    </div>
                </div>

            </div>

        </section>

        <section class="row container content">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie auctor tristique. Suspendisse vitae nunc vitae libero rhoncus interdum. Integer nunc arcu, dignissim et leo in, porta tristique nisl. Maecenas imperdiet pellentesque nunc ac auctor. Integer molestie neque id massa mattis, rhoncus interdum nibh accumsan. Nam in tristique tortor, ac dapibus nibh. Nulla hendrerit porttitor efficitur. In efficitur nunc libero, eu interdum tortor vestibulum ut.</p>

            <p>Mauris aliquet nisl vel dapibus molestie. Vestibulum metus metus, consectetur vitae hendrerit eu, placerat ullamcorper eros. Duis arcu augue, feugiat at molestie vitae, vehicula pellentesque justo. Ut ornare venenatis hendrerit. Pellentesque nec ipsum sed nulla rhoncus fringilla eget id dolor. Proin semper, tortor non ornare cursus, quam felis lacinia tellus, sit amet feugiat purus dolor in nulla. Aliquam fermentum placerat mauris, et sollicitudin dui fringilla a. Donec egestas est et massa auctor placerat. Sed ullamcorper vehicula diam, gravida placerat eros interdum quis. Sed feugiat facilisis venenatis. In vulputate nibh sit amet mi blandit, ac pellentesque dolor iaculis. Sed eleifend mauris ac lectus imperdiet viverra.</p>

            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi efficitur, ex at mattis facilisis, tortor justo viverra arcu, non auctor mi velit eu mauris. Curabitur sodales mi et ultrices convallis. Vivamus id consectetur metus. Integer varius blandit nisi, ut sodales dui placerat eget. Fusce tincidunt nibh velit, vitae tempor massa sagittis id. Donec maximus nisi cursus tortor tempus consectetur. Ut pellentesque egestas metus ut lacinia. Phasellus rutrum quam ac gravida hendrerit. Cras rhoncus elit ut purus scelerisque convallis. Pellentesque aliquet urna magna, eu elementum erat ullamcorper in.</p>

            <p>Pellentesque eleifend risus ac enim auctor congue at a ante. Sed placerat ultricies ex, at sodales enim facilisis a. Nam cursus aliquet mi, feugiat consectetur neque tristique sollicitudin. Sed blandit purus sed ex fermentum mattis. Nam posuere non enim ac mattis. Donec rhoncus interdum volutpat. Phasellus tempus ultricies vestibulum. Aliquam eu elit eget est congue placerat ut sed nisl. Cras bibendum porta tellus, sit amet laoreet justo ultrices sit amet. Proin nec nunc non ex rutrum venenatis. Ut leo massa, feugiat at augue molestie, imperdiet ultrices purus. Nunc eleifend massa vitae purus sodales luctus. Fusce interdum enim vitae quam porttitor, vitae euismod neque lacinia. Integer a nulla sodales, posuere metus mattis, euismod ante. Aliquam in felis sodales ipsum condimentum hendrerit pulvinar quis risus.</p>

        </section>

        <section class="row container">
            
            <div class="columns">

                <div class="column">
                    <div class="block" style="background: #FF9F94" v-reveal="{ transition: 'fade-grow' }" >
                        Grow
                    </div>
                </div>

                <div class="column">
                    <div class="block" style="background: #E1FF9E" v-reveal="{ transition: 'fade-shrink' }" >
                        Shrink
                    </div>
                </div>

            </div>

        </section>

        <section class="row container content">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie auctor tristique. Suspendisse vitae nunc vitae libero rhoncus interdum. Integer nunc arcu, dignissim et leo in, porta tristique nisl. Maecenas imperdiet pellentesque nunc ac auctor. Integer molestie neque id massa mattis, rhoncus interdum nibh accumsan. Nam in tristique tortor, ac dapibus nibh. Nulla hendrerit porttitor efficitur. In efficitur nunc libero, eu interdum tortor vestibulum ut.</p>

            <p>Mauris aliquet nisl vel dapibus molestie. Vestibulum metus metus, consectetur vitae hendrerit eu, placerat ullamcorper eros. Duis arcu augue, feugiat at molestie vitae, vehicula pellentesque justo. Ut ornare venenatis hendrerit. Pellentesque nec ipsum sed nulla rhoncus fringilla eget id dolor. Proin semper, tortor non ornare cursus, quam felis lacinia tellus, sit amet feugiat purus dolor in nulla. Aliquam fermentum placerat mauris, et sollicitudin dui fringilla a. Donec egestas est et massa auctor placerat. Sed ullamcorper vehicula diam, gravida placerat eros interdum quis. Sed feugiat facilisis venenatis. In vulputate nibh sit amet mi blandit, ac pellentesque dolor iaculis. Sed eleifend mauris ac lectus imperdiet viverra.</p>

            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi efficitur, ex at mattis facilisis, tortor justo viverra arcu, non auctor mi velit eu mauris. Curabitur sodales mi et ultrices convallis. Vivamus id consectetur metus. Integer varius blandit nisi, ut sodales dui placerat eget. Fusce tincidunt nibh velit, vitae tempor massa sagittis id. Donec maximus nisi cursus tortor tempus consectetur. Ut pellentesque egestas metus ut lacinia. Phasellus rutrum quam ac gravida hendrerit. Cras rhoncus elit ut purus scelerisque convallis. Pellentesque aliquet urna magna, eu elementum erat ullamcorper in.</p>

            <p>Pellentesque eleifend risus ac enim auctor congue at a ante. Sed placerat ultricies ex, at sodales enim facilisis a. Nam cursus aliquet mi, feugiat consectetur neque tristique sollicitudin. Sed blandit purus sed ex fermentum mattis. Nam posuere non enim ac mattis. Donec rhoncus interdum volutpat. Phasellus tempus ultricies vestibulum. Aliquam eu elit eget est congue placerat ut sed nisl. Cras bibendum porta tellus, sit amet laoreet justo ultrices sit amet. Proin nec nunc non ex rutrum venenatis. Ut leo massa, feugiat at augue molestie, imperdiet ultrices purus. Nunc eleifend massa vitae purus sodales luctus. Fusce interdum enim vitae quam porttitor, vitae euismod neque lacinia. Integer a nulla sodales, posuere metus mattis, euismod ante. Aliquam in felis sodales ipsum condimentum hendrerit pulvinar quis risus.</p>

        </section>

        <footer class="footer">

            <div class="container">

                <div class="columns">

                    <div class="column">

                    </div>

                    <div class="column">
                        <div class="content has-text-right">
                            <p>built by <a href="mailto:craig@allardyce.me">allardyce</a>.</p>
                        </div>
                    </div>

                </div>

            </div>

        </footer>

    </div>
</template>