@import '~bulma';

.row {
    margin-top: 3em;
    margin-bottom: 3em;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.code-block {
    background: #1E1E1E;
}

.block {
    padding: 3rem;
    text-align: center;
    font-size: 2rem;
}

.hover-grow-item .item {
    transition: transform 0.5s ease;

}
.hover-grow-item:hover .item {
    transform: scale(1.1);
}
