.reveal  {
    transition: all 1s ease;

    &-fade {
        opacity: 0.01;

        &-slide {

            &-left {
                transform: translateX(-50%);
            }
            
            &-right {
                transform: translateX(50%);
            }

            &-up {
                transform: translateY(50%);
            }

            &-down {
                transform: translateY(-50%);
            }

        }

        &-grow {
            transform: scale(0.75);
        }

        &-shrink {
            transform: scale(1.25);
        }

    }
}